{% extends 'base-logged.html' %}

{% block title %}LetsMeet-管理申请者{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
	.table-data-center th, td {
		text-align: center;
	}
</style>
{% endblock %}


{% block page_content %}

<table class="table table-data-center">
	<thead>
		<tr>
			<th>申请人</th>
			<th>申请表</th>
			<th>状态</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		{% for row in rows %}
		<tr>
			<td>{{row.attendee_name}}</td>
			<td>{{row.form}}</td>
			<td>
				{% if row.status == 2 %}
				已通过
				{% elif row.status == 3 %}
				已拒绝
				{% else %}
				未操作
				{% endif %}
			</td>
			<td>
				<a href="#" class="accept" name="{{row.ue_id}}">通过</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="#" class="deny" name="{{row.ue_id}}">拒绝</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}


{% block scripts %}

{# 导入 jQuery 库 #}
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>

<script type="text/javascript">
	var 
		newStatus,
		id,
		$aAccept = $('a#accept');

	$(function() {
		$('a.accept').click(function() { // 按下「同意」
			console.log('test')
			newStatus = "2";
			id = $(this).attr('name')
			updateStatus();
		}),


		$('a.deny').click(function() { // 按下「拒绝」
			newStatus = "3";
			id = $(this).attr('name')
			updateStatus();
		});
	});

	function updateStatus() {
		// $.getJSON(url, data, func) 发送一个 GET 请求到 url， data 为查询参数，返回数据后以返回的数据作为参数调用 func
		$.getJSON("{{ url_for('main.operateAttendee') }}", {
			newStatus: newStatus,
			id: id
		}, function(data) {
			alert("sucess");
			location.reload();
		});
		return false;
	}
</script>

{% endblock %}